{% include 'base.html.twig' %}

{% block body %}


<h1>Bienvenido a stack overflow en espa침ol</h1>

{% if logueado == false %}

    {% if mensaje is not null %}

        {{ mensaje }}
    
    {% endif %}

    <h2>Por favor, inicie sesi칩n para continuar.</h2>
    
    
        <form action="?controlador=session&accion=login" method="post">

            <h2>Ingrese su email</h2>
            <input type="text" name="email" required>

            <h2>Ingrese su contrase침a</h2>
            <input type="password" name="pass" required>

            <input type="submit" value="Iniciar Sesion">

        </form>

{% else %}

    <p>Usted ya ha iniciado sesi칩n.</p>

    <a href="?controlador=preguntas&accion=mostrarCrearPregunta">Crear Pregunta</a>

    <a href="?controlador=session&accion=close_session">Cerrar session</a>

{% endif %}




{% endblock %}
