{% include 'base.html.twig' %}

{% block body %}

{% if mensaje is not null %}

    {{ mensaje }}

{% endif %}

{% if logueado == true %}

<h1>Ha iniciado sesión correctamente, {{ usuario.nombre }}.</h1>

<a href="?controlador=session&accion=close_session">Cerrar session</a>

<h2>Por favor, ingrese una pregunta para continuar</h2>


<form action="?controlador=preguntas&accion=registraPregunta" method="post">

    <h2>Ingrese un título</h2>
    <input type="text" name="titulo" required>

    <h2>Ingrese el texto</h2>
    <textarea name="texto" required></textarea>

    <input type="submit" value="Registrar Pregunta">

</form>

{% else %}

    <h2>Usted no ha iniciado sesión.</h2>

    <a href="?controlador=Index&accion=show">Iniciar sesion</a>

{% endif %}


{% endblock %}